.containerItemsToSendPO{
  position: relative;
  width: 80%;
  max-width: 400px;
  left: 50%;
  transform: translateX(-50%);
}
.itemToSendPO{
  position: relative;
  width: 100%;
  background-color: #2F4560;
  border: 1px solid black;
}
.itemToSendPO h3{
  position: relative;
  text-align: center;
  color: rgba(255, 255, 255, .9);
  font-size: 1em;
  font-weight: 300;
  margin: 8px 0px;
}
.openToggleSubitemToSendPO{
  position: absolute;
  width: 40px;
  height: 100%;
  top: 0px;
  right: 0px;
}
.buttonPlusToSendPO {
  position: absolute;
  width: 25px;
  height: 21px;
  top:50%;
  right:10px;
  transform: translateY(-50%);
  cursor: pointer;
  }
.buttonLessToSendPO{
  position: absolute;
  width: 25px;
  height: 11px;
  top:50%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
  display: none;
  }


  .containerItemContentToSendPO{
    position: relative;
    width: 100%;
  }
  .itemContentToSendPO{
    position: relative;
    width: 100%;
    background-color: #7B899A;
    border: 1px solid black;
    max-width: 400px;
    left: 50%;
    transform: translateX(-50%);
  }
  .itemContentToSendPO h3{
    position: relative;
    text-align: center;
    width: 85%;
    left: 50%;
    transform: translateX(-50%);
    color: rgba(255, 255, 255, .8);
    font-size: 1em;
    font-weight: 300;
    margin: 8px 0px;
  }
  .itemContentToSendPO input{
    position: relative;
    text-align: center;
    max-width: 400px;
    width: 85%;
    left: 50%;
    background-color: #66768A;
    transform: translateX(-50%);
    color: white;
    font-size: 1em;
    font-weight: 300;
    margin: 5px 0px;
    border: 2px solid #26384F;
  }
  .openToggleSubitemContentToSendPO{
    position: absolute;
    width: 30px;
    height: 100%;
    right: 10px;
    top: 0px;
  }
  .buttonPlusContentToSendPO {
    position: absolute;
    width: 15px;
    height: 21px;
    top:50%;
    right:10px;
    transform: translateY(-50%);
    cursor: pointer;
    }
  .buttonLessContentToSendPO{
    position: absolute;
    width: 15px;
    height: 11px;
    top:50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
    display: none;
    }
    .blueColor{
      font-weight: 500;
      color: #2F4560;
      font-size: 1.1em;
    }
