
.containerItemsCategory{
  position: relative;
  width: 80%;
  max-width: 400px;

  left: 50%;
  transform: translateX(-50%);
}
.itemCategory{
  position: relative;
  width: 100%;
  background-color: #1E334E;
  border: 1px solid black;
}
.itemCategory h3{
  position: relative;
  text-align: center;
  color: rgba(255, 255, 255, .9);
  font-size: 1em;
  font-weight: 300;
  margin: 8px 0px;
}
.openToggleSubitemCategory{
  position: absolute;
  width: 40px;
  height: 100%;
  top: 0px;
  right: 0px;
}
.buttonPlusCategory {
  position: absolute;
  width: 25px;
  height: 21px;
  top:50%;
  right:10px;
  transform: translateY(-50%);
  cursor: pointer;
  }
.buttonLessCategory{
  position: absolute;
  width: 25px;
  height: 11px;
  top:50%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
  display: none;
  }





  .containerItemGroup{
    position: relative;
    width: 100%;
  }
  .itemGroup{
    position: relative;
    width: 100%;
    background-color: #55677D;
    border: 1px solid black;
    max-width: 400px


  }
  .itemGroup h3{
    position: relative;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    color: rgba(255, 255, 255, .8);
    font-size: 1em;
    font-weight: 400;
    margin: 7px 0px;
  }
  .openToggleSubitemGroup{
    position: absolute;
    width: 30px;
    height: 100%;
    top: 0px;
    right: 10px;
  }
  .buttonLessGroup{
    position: absolute;
    width: 14px;
    height: 8px;
    top:50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
    display: none;
    }
  .buttonPlusGroup {
    position: absolute;
    width: 14px;
    height: 18px;
    top:50%;
    right:10px;
    transform: translateY(-50%);
    cursor: pointer;
    }




    .containerItemProduct{
      position: relative;
      width: 100%;
    }
    .itemProduct{
      position: relative;
      width: 100%;
      background-color: #7B899A;
      border: 1px solid black;
    }
    .itemProduct h3{
      position: relative;
      text-align: center;
      left: 50%;
      transform: translateX(-50%);
      color: rgba(255, 255, 255, .8);
      font-size: 1em;
      font-weight: 300;
      margin: 7px 0px;

    }
    .openToggleSubitemProduct{
      position: absolute;
      width: 30px;
      height: 100%;
      right: 10px;
      top: 0px;
    }
    .buttonPlusProduct {
      position: absolute;
      width: 15px;
      height: 21px;
      top:50%;
      right:10px;
      transform: translateY(-50%);
      cursor: pointer;
      }
    .buttonLessProduct{
      position: absolute;
      width: 15px;
      height: 11px;
      top:50%;
      right: 10px;
      transform: translateY(-50%);
      cursor: pointer;
      display: none;
      }
      .blueColor{
        font-weight: 500;
        color: #2F4560;
        font-size: 1.1em;
      }







      .containerItemProductContent{
        position: relative;
        width: 100%;
      }
      .itemProductContent{
        position: relative;
        width: 100%;
        background-color: #A0AAB7;
        border: 1px solid black;
      }
      .itemProductContent h3{
        position: relative;
        text-align: center;
        width: 80%;
        left: 50%;
        transform: translateX(-50%);
        color: rgba(255, 255, 255, .8);
        font-size: 1em;
        font-weight: 300;
        overflow-x: scroll;
      }
      .openToggleSubitemProductContent{
        position: absolute;
        width: 30px;
        height: 100%;
        top: 0px;
        right: 10px;
      }
      .buttonPlusProductContent {
        position: absolute;
        width: 14px;
        height: 15px;
        top:50%;
        right:10px;
        transform: translateY(-50%);
        cursor: pointer;
        }
      .buttonLessProductContent{
        position: absolute;
        width: 14px;
        height: 15px;
        top:50%;
        right: 10px;
        transform: translateY(-50%);
        cursor: pointer;
        display: none;
        }


        .blackColor{
        color: #CFD4DA;
        }
