
    .containerItemsOrder{
      position: relative;
      width: 80%;
      max-width: 400px;

      left: 50%;
      transform: translateX(-50%);
    }
    .itemOrder{
      position: relative;
      width: 100%;
      background-color: #1E334E;
      border: 1px solid black;
    }
    .itemOrder h3{
      position: relative;
      text-align: center;
      color: rgba(255, 255, 255, .9);
      font-size: 1em;
      font-weight: 300;
      margin: 8px 0px;
    }
    .openToggleSubitemOrder{
      position: absolute;
      width: 40px;
      height: 100%;
      top: 0px;
      right: 0px;
    }
    .buttonPlusOrder {
      position: absolute;
      width: 25px;
      height: 21px;
      top:50%;
      right:10px;
      transform: translateY(-50%);
      cursor: pointer;
      }
    .buttonLessOrder{
      position: absolute;
      width: 25px;
      height: 11px;
      top:50%;
      right: 10px;
      transform: translateY(-50%);
      cursor: pointer;
      display: none;
      }


    .containerItemJob{
      position: relative;
      width: 100%;
    }
    .itemJob{
      position: relative;
      width: 100%;
      background-color: #55677D;
      border: 1px solid black;
    }
    .itemJob h3{
      position: relative;
      text-align: center;
      color: rgba(255, 255, 255, .8);
      font-size: 1em;
      font-weight: 400;
      margin: 8px 0px;
    }
    .openToggleSubitemJob{
      position: absolute;
      width: 30px;
      height: 100%;
      top: 0px;
      right: 10px;
    }
    .buttonLessJob{
      position: absolute;
      width: 17px;
      height: 11px;
      top:50%;
      right: 10px;
      transform: translateY(-50%);
      cursor: pointer;
      display: none;
      }
    .buttonPlusJob {
      position: absolute;
      width: 17px;
      height: 21px;
      top:50%;
      right:10px;
      transform: translateY(-50%);
      cursor: pointer;
      }


    .containerItemContent{
      position: relative;
      width: 100%;
    }
    .itemContent{
      position: relative;
      width: 100%;
      background-color: #7B899A;
      border: 1px solid black;
    }
    .itemContent h3{
      position: relative;
      text-align: left;
      width: 85%;
      left: 50%;
      transform: translateX(-50%);
      color: rgba(255, 255, 255, .8);
      font-size: 1em;
      font-weight: 300;
      margin: 8px 0px;
    }
    .openToggleSubitemContent{
      position: absolute;
      width: 30px;
      height: 100%;
      right: 10px;
      top: 0px;
    }
    .buttonPlusContent {
      position: absolute;
      width: 15px;
      height: 21px;
      top:50%;
      right:10px;
      transform: translateY(-50%);
      cursor: pointer;
      }
    .buttonLessContent{
      position: absolute;
      width: 15px;
      height: 11px;
      top:50%;
      right: 10px;
      transform: translateY(-50%);
      cursor: pointer;
      display: none;
      }
      .blueColor{
        font-weight: 500;
        color: #2F4560;
        font-size: 1.1em;
      }


    .containerItemContentL2{
      position: relative;
      width: 100%;
    }
    .itemContentL2{
      position: relative;
      width: 100%;
      background-color: #A0AAB7;
      border: 1px solid black;
    }
    .itemContentL2 h3{
      position: relative;
      text-align: left;
      width: 80%;
      left: 50%;
      transform: translateX(-50%);
      color: rgba(255, 255, 255, .8);
      font-size: 1em;
      font-weight: 300;
      margin: 8px 0px;
      overflow-x: scroll;
    }
    .openToggleSubitemContentL2{
      position: absolute;
      width: 30px;
      height: 100%;
      top: 0px;
      right: 10px;
    }
    .buttonPlusContentL2 {
      position: absolute;
      width: 14px;
      height: 15px;
      top:50%;
      right:10px;
      transform: translateY(-50%);
      cursor: pointer;
      }
    .buttonLessContentL2{
      position: absolute;
      width: 14px;
      height: 15px;
      top:50%;
      right: 10px;
      transform: translateY(-50%);
      cursor: pointer;
      display: none;
      }


      .blackColor{
      color: #CFD4DA;
      }


      .containerItemContentL3{
        position: relative;
        width: 100%;
      }
      .itemContentL3{
        position: relative;
        width: 100%;
        background-color: #C6CCD4;
        border: 1px solid black;
      }
      .itemContentL3 h3{
        position: relative;
        text-align: left;
        width: 75%;
        left: 50%;
        transform: translateX(-50%);
        color: #2F4560;
        font-size: 1em;
        font-weight: 300;
        margin: 8px 0px;
        overflow-x: scroll;
      }
      .openToggleSubitemContentL3{
        position: absolute;
        width: 30px;
        height: 100%;
        top: 0px;
        right: 10px;
      }
      .buttonPlusContentL3 {
        position: absolute;
        width: 14px;
        height: 15px;
        top:50%;
        right:10px;
        transform: translateY(-50%);
        cursor: pointer;
        }
      .buttonLessContentL3{
        position: absolute;
        width: 14px;
        height: 15px;
        top:50%;
        right: 10px;
        transform: translateY(-50%);
        cursor: pointer;
        display: none;
        }
    .width600{
      font-weight: 600;
    }
